html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
}
.wrapper {
    width: 400px;
    background-color: #000000;
    color: white;
}

.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-button {
    border: none;
    background-color: #ebebeb;
    color:#000000;
    font-size: 40px;
    
    height: 100px;
    flex-basis: 24.5%; /* not 25%, so that theres a little bit left over to have space between the buttons*/
}

.calc-button:hover {
    background-color: #d8d9db;
    color:#000000;
}

.calc-button:active {
    background-color: #bbbcbe;
    color:#000000;
}

/*last child selector*/
.calc-button:last-child {
    background-color: #df974c;
    color:#ffffff;
    font-size: 40px;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
}

.calc-button:last-child:active {
    background-color: #dd8d37;
}

/*FLEX BASIS FOR THE 0 AND C*/
.double {
    flex-basis:49.7%;
}

.triple {
    flex-basis: 74.8%;
}
