#home-terminal {
    margin: 10vmin auto;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    background-color:#3b3880;
    border-radius: 1vmin;
}

.tab-bar {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.tab {
    padding: 0.5vmin;
    /* margin: 0 5px; */
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f1f1f1;
    font-size: 2vmin;
    width: 100%;
    cursor: pointer;
}

.tab.active {
    border-top: none;
    border-bottom: 2px solid #333;
    background-color: #fff;
}

/* Add more CSS styles as needed */

#home-terminal-content {
    /* padding: 11vmin; */
    color: #d7d6ff;
}
#home-whoami {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2vmin;
}
#home-whoami #home-whoami-flexleft {
    width: 40%;

}

#home-whoami #home-whoami-flexright img{
    width: 70%;
} 
