.rectangle-pattern {
	position: relative;
	overflow: hidden;
}

.rectangle-pattern::before {
	content: "";
	position: absolute;
	inset: 0;

	background-color: #e5e5f7;
	background-size: 20px 20px;
	background-image: repeating-linear-gradient(
		0deg,
		#444cf7,
		#444cf7 1px,
		#e5e5f7 1px,
		#e5e5f7
	);

	opacity: 0.8;
	z-index: 0;
}

.rectangle-pattern > * {
	position: relative;
	z-index: 1;
}
