.stack-container {
    margin: 10vmin auto;
    margin-top: 5vmin;
    width: 50%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.stackItem {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* flex: 50%; */
    flex: 1 0 40%;
    /* height: 20%; */
    margin-bottom: 3vmin;
    margin-top: 3vmin;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
    width: 50%;
}

.Applogo {
    height: 20vmin;
    pointer-events: none;
    width: 90%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}