.stack-container {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
    background-color: beige;
    margin: 1vmin auto;
    width: 80%;
}

.row {
    display: flex; 
    gap: 10px;  
}

.stackItem {
    width: 100%;
}

.socials-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 5vmin 2vmin;
}

.socialslogo {
    height: 10vmin;
    pointer-events: none;
    width: 90%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}