.stack-container {
    margin: 10vmin auto;
    margin-top: 5vmin;
    width: 60%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: beige;
}
.filter-container button {
    border: 1px solid black;
    font-size: 2.5vmin;
}

.socials-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50%;
}

.socialslogo {
    height: 7vmin;
    pointer-events: none;
    width: 90%;
}

/* .stackItem {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex: 1 0 40%;
    margin-bottom: 3vmin;
    margin-top: 3vmin;
} */

.App-logo {
    height: 20vmin;
    pointer-events: none;
    width: 50%;
}

.Applogo {
    height: 10vmin;
    pointer-events: none;
    width: 90%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}