.about-content {
    margin: auto;
    width: 50%;
    padding: 10px;
    /* border: 1px solid black; */
    color: #d7d6ff;
}

.button-case {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    /* border: solid 1px black; */
    justify-content:space-evenly;
    margin: auto;
    width: 100%;
}


#about-terminal {
    color: #390060;
    background-color: rgba(211, 195, 255, 0.75);
    margin: 10vmin auto;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    /* background-color:#3b3880; */
    border-radius: 1vmin;
}


/* CAROUSEL */
/* src/Carousel.css */
.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
}
.carousel__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.carousel__btn--prev {
    left: 0;
}
.carousel__btn--next {
    right: 0;
}
.carousel__img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.carousel__img:hover {
    transform: scale(1.05);
}
