@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&display=swap');
/*INDEX.HTML
BLACK - #000505
ENG VIOLET - #3B3355
DARK BLUE GREY - #5D5D81
LIGHT STEEL BLUE - #BFCDE0
WHITE - #FEFCFD
*/
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Poppins', sans-serif;
    color: #3B3355;
}

header {
    padding: 0.5rem;
    animation: gradient 1s 1s infinite;
    color: #FEFCFD;
}

@keyframes gradient {
    0% {
        background-color:#5D5D81;
    } 
    100% {
        background-color: #BFCDE0;
    }
}

#heading {
    text-align: center;
}

#company-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#company-header-left {
    margin-right:0;
}

#company-header-right {
    margin-left:0;
}

#nav-bar {
    display: flex;
    justify-content: center;
    border-top: 1px #3B3355 solid;
    border-bottom: 1px #3B3355 solid;
    margin: 1rem 18rem;
}

#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    float: left;
    padding: 0.7rem;
}

.navbar-item:hover{
    text-decoration: underline;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}

#about_us {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#company-pic {
    margin-right: 0;
}

#company-description {
    font-family: 'Lato', sans-serif;
    flex-basis: 60%;
    margin-top: 1rem;
    margin-left: 5rem;
}

/* ORDERPAGE.HTML */
#filter-area {
    display: flex;
    justify-content: center;
}

#filter-area>button {
    padding: 0.5rem 7rem;
    background-color: #BFCDE0;
    color: #3B3355;
    border-radius: 2rem;
}

.search-bar {
    border:none;
    padding: 12px;
    margin: 0 12px;
}

#filter-area>.search-button {
    border: none;
    background-color: #BFCDE0;
    color: #3B3355;
    margin: 0.3rem 4rem;
    padding: 0.5rem 8rem;
    border-radius: 2rem;
}

#filter-area>.search-button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #3B3355;
    color:#FEFCFD;
}

#search-filter {
    border: #3B3355 1px solid;;
    border-radius: 2rem;
    padding: 0.6rem;
}

#CRUD-features {
    display: flex;
    justify-content: center;
    margin: 4px auto;
    padding: 10px;
}

#CRUD-features>button {
    border: none;
    background-color: #BFCDE0;
    color: #3B3355;
    margin: 0.3rem 4rem;
    padding: 0.5rem 8rem;
    border-radius: 2rem;
}

#CRUD-features>button:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #3B3355;
    color:#FEFCFD;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2rem auto;
    padding: 14px;
}

#recipes {
    display:flex;
    text-align:center;
}

#recipes>#recipe1 {
    flex-basis: 50%;
}

#recipes>#recipe2 {
    flex-basis: 50%;
}