/* src/components/Button.css */
.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: gray;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}