text-customization(color, font-family, font-size)
    color color
    font-family font-family
    font-size font-size

// auto rows
grid-format(display, grid-template-columns, grid-auto-rows, grid-gap, margin)
    display display
    grid-template-columns grid-template-columns
    grid-auto-rows grid-auto-rows
    grid-gap grid-gap
    margin margin

// template rows
grid-format(display, grid-template-columns, grid-template-rows, grid-gap, margin)
    display display
    grid-template-columns grid-template-columns
    grid-template-rows grid-template-rows
    grid-gap grid-gap
    margin margin

flex-format(display, flex-direction, flex-wrap)
    display: display
    flex-direction flex-direction
    flex-wrap flex-wrap

flexed(flex-direction, flex-wrap)
    flex-direction flex-direction
    flex-wrap flex-wrap

container-measurement(margin, padding, bg-color)
    background bg-color
    margin margin
    padding padding

aside-measurement(float, width, border-radius)
    float float
    width width
    border-radius border-radius

img-size(max-width, height)
    max-width max-width 
    height height
