@import "https://fonts.googleapis.com/css2?family=Concert+One&family=Fredoka+One&family=Righteous&family=Stalinist+One&display=swap"
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap')

// color scheme
bg-color = linear-gradient(90deg, rgba(9,15,51,1) 14%, rgba(41,13,70,1) 46%, rgba(131,72,142,1) 87%)
h1-color = #f887ff
h2-color = #de004e
text-color = #EEEBD3
figcap-color = #f0b16d
asidetext1-color = magenta
aside2-bgcolor = #f887ff
asidetext2-color = #210d38
aside1-bgcolor = rgb(174, 252, 252)

// fonts
stanlistone-font = 'Stalinist One', cursive
Righteous-font = 'Righteous', cursive
ConcertOne-font = 'Concert One', cursive
OpenSans-font =     'Open Sans', sans-serif

