name: Generate Documentation

on:
    push:
        branches:
            - main
            - master
        paths:
            - "src/**"
            - "package.json"
            - "docs/**"
    pull_request:
        branches:
            - main
            - master

jobs:
    generate-docs:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "npm"

            - name: Install dependencies
              run: npm install

            - name: Build Docusaurus docs
              run: npm run docs:build

            - name: Deploy Docusaurus docs
              if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
              run: |
                  npm install -g gh-pages
                  git config --local user.email "action@github.com"
                  git config --local user.name "GitHub Action"
                  gh-pages -d docs/build -r https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
